:root {
  --bg-color: #00ab9f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 370px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-top: 5px solid #00ab9f;
  padding: 20px;
}

h2 {
  color: #444444c2;
  margin-top: 0px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

input:not(input[type="checkbox"]) {
  background-color: #fff;
  width: 100%;
  opacity: 0.7;
  margin-bottom: 20px;
  outline: none;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

.row {
  display: flex;
  color: #444444c2;
  justify-content: space-between;
}
.row > label {
  text-decoration: underline;
}

.button {
  width: 100%;
}

.button > button {
  background: var(--bg-color);
  color: #fff;
  border: #00ab9f;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
}

.no-c {
  text-align: center;
  padding: 20px;
  color: #444444c2;
}

.no-c > a {
  color: #000000c2;
  cursor: pointer;
}

.no-c > a:hover {
  text-decoration: underline;
}
