@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.flx{
  display: flex;
}

.p-2{
  /* margin: 2px; */
  padding-left: 5px;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background: #9b59b6;
  left: 0;
  bottom: 0;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  /* display: block; */
  font-weight: 500;
  margin-bottom: 50px;
}

.user-details .input-box input  {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

.user-details .input-box input:focus {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category label .gender{
  margin-left: 10px;
}
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg,#71b7e6,#9b59b6);
    cursor: pointer;
}